{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1 style="margin: 0">{{ page.title }}</h1>

    <div>{{ page.intro|richtext }}</div>

{% for post in page.get_children %}
    {% with post=post.specific %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        <p>{{ post.intro }}</p>

    {% endwith %}
{% endfor %}

{% endblock content %}

<!--{% block sidebar %}-->
<!--<h1>TEST</h1>-->

<!--{% for post in page.get_children %}-->
<!--    {% with post=post.specific %}-->
<!--        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>-->
<!--    {% endwith %}-->
<!--{% endfor %}-->

<!--{% endblock sidebar %}-->