{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags wagtailadmin_tags %}

{% block body_class %}template-homepage{% endblock %}
<head>
    <title></title>
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock extra_css %}
</head>
{% block content %}

<div>
    <h1>{{ page.intro|richtext }}</h1>
<article class="article">
    {{ page.body }}
</article>
</div>

{% endblock content %}

<div class="left_sidebar">
    {% block left_sidebar %}
    {% for post in page.get_children %}
        {% with post=post.specific %}
            <div><h2><a href="{% pageurl post %}">{{ post.title }}</a></h2></div>
        {% endwith %}
    {% endfor %}
    {% for post in page.get_children %}
        {% with post=post.specific %}
            <div><h2><a href="{% pageurl post %}">{{ post.title }}</a></h2></div>
        {% endwith %}
    {% endfor %}
    {% for post in page.get_children %}
        {% with post=post.specific %}
            <div><h2><a href="{% pageurl post %}">{{ post.title }}</a></h2></div>
        {% endwith %}
    {% endfor %}
{% endblock left_sidebar %}
</div>

<div>
    {% block right_sidebar %}
    {% for post in page.get_children %}
        {% with post=post.specific %}
            <div><h2><a href="{% pageurl post %}">{{ post.title }}</a></h2></div>
        {% endwith %}
    {% endfor %}
    {% for post in page.get_children %}
        {% with post=post.specific %}
            <div><h2><a href="{% pageurl post %}">{{ post.title }}</a></h2></div>
        {% endwith %}
    {% endfor %}
    {% for post in page.get_children %}
        {% with post=post.specific %}
            <div><h2><a href="{% pageurl post %}">{{ post.title }}</a></h2></div>
        {% endwith %}
    {% endfor %}
{% endblock right_sidebar %}
</div>





